## PROJECT::GENERAL
coverage
rdoc
doc
log
pkg/*
tmp
.rvmrc
.ruby-version
.yardoc
.DS_Store

## BUNDLER
*.gem
.bundle
Gemfile.lock
vendor/bundle

## PROJECT::SPECIFIC
.rbx
node_modules

## IDEs
.idea/
.yardoc/
