// Override theme variables.

@import url('https://fonts.googleapis.com/css?family=Raleway:700');

$link-color: #EE4266;
$text-color: #3C3C3C;
$font-family-main: 'KohinoorTelugu-Regular', Helvetica, Arial, sans-serif;
$font-family-headings: 'Raleway', Helvetica, Arial, sans-serif;