// Custom Styles added on top of the theme.

.btn
  color: white
  background-color: $link-color
  padding: 5px 10px
  border-radius: 4px
  &:hover
    background-color: darken($link-color, 10%)
    color: white
    text-decoration: none

.text-center
  text-align: center

.mt-60
  margin-top: 60px

.docs-nav
  display: flex
  margin-top: 40px

.docs-nav-item
  flex: 1 1 0
  text-align: center

pre.highlight
  padding: 20px
  background-color: #F6F6F6
  border-radius: 4px
  code
    word-wrap: normal
    overflow: scroll

code.highlighter-rouge
  background-color: #EEE
  padding: 0 5px
  border-radius: 3px