name: CI

on:
  pull_request:
  push:
    branches: [main, 0.1x, 1.x]

env:
  GIT_COMMIT_SHA: ${{ github.sha }}
  GIT_BRANCH: ${{ github.ref }}
  COVERALLS_REPO_TOKEN: ${{ secrets.COVERALLS_REPO_TOKEN }}

jobs:
  linting:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Ruby 3.0
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0

    - name: Rubocop
      run: |
        gem install bundler
        bundle config set without 'development test'
        bundle config set with 'lint'
        bundle install
        bundle exec rubocop --format progress

    - name: Yard-Junk
      run: |
        gem install yard-junk --no-document
        yard-junk --path lib

  build:
    needs: [linting]
    runs-on: ubuntu-latest
    name: build ${{ matrix.ruby }}
    strategy:
      fail-fast: false
      matrix:
        ruby: ['3.0', '3.1', '3.2']

    steps:
    - uses: actions/checkout@v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install libcurl4-openssl-dev

    - name: Build
      run: |
        gem install bundler -v '<2'
        bundle install --jobs 4 --retry 3

    - name: Test
      continue-on-error: ${{ matrix.experimental }}
      run: bundle exec rake

